body {
  background-color: #edf2f7;
}

/* Header Section  */
.header {
  padding: 20px 0;
  text-align: center;
}

.header strong {
  font-weight: 700;
}

/*  Main Section  */
.wrapper {
  display: flex;
  padding: 10px 20px;
  flex-direction: column;
  align-items: center;
}

/* Main - Context Menu  */
.title-01::before {
  content: "1️⃣";
}

/* Context-menu 01 */

.context-menu01 {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 6px 16px rgb(0 0 0 / 12%);
}

.context-menu01 img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.context-menu01 > div {
  position: relative;
}

.cont01-title {
  position: relative;
}

.cont01-title h3 {
  padding: 10px;
  font-weight: 700;
}

.cont01-title button {
  position: absolute;
  top: 50%;
  right: 10px;
  padding: 5 10px;
  transform: translateY(-50%);
  background-color: transparent;
}

.cont01-btn::before {
  color: #1a1a1a;
  font-weight: 800;
  content: "\f141";
}

.cont01-menu {
  position: absolute;
  right: 5px;
  bottom: 55px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #fff;
}

.cont01-menu::after {
  display: block;
  position: absolute;
  right: 10px;
  bottom: -4px;
  width: 20px;
  height: 20px;
  content: "";
  background-color: #fff;
  transform: rotate(45deg);
}

.cont01-menu li {
  padding: 0 0 5px 2px;
}

/* Context-menu 02 */

.context-menu02 {
  background-color: #fff;
  box-shadow: 0px 6px 16px rgb(0 0 0 / 12%);
}

.context-menu02 ul {
  width: 95%;
  padding: 10px;
  margin: 0 auto;
}

.context-menu02 li {
  position: relative;
  padding: 5px 0 40px 5px;
  border: 1px solid #1a1a1a;
  margin-bottom: 5px;
}

.context-menu02 button {
  position: absolute;
  right: 3px;
  bottom: 7px;
  padding: 3px 10px;
  font-weight: 700;
  border-radius: 20px;
  background-color: #f5ff9a;
  z-index: 10;
  transition: background-color .3s ease-in-out;
}

.context-menu02 button:hover {
  background-color: #efff61;
}

.context-menu02 button::after {
  display: inline-block;
  font-weight: 800;
  content: '\f078';
  padding-left: 5px;
}

.cont02-more {
  position: absolute;
  right: 3px;
  bottom: -12px;
  z-index: 5;
}

.cont02-more p {
  padding: 5px;
  background-color: #f5ff9a;
  box-shadow: 0px 6px 16px rgb(0 0 0 / 12%);
}




